@model MyPortfolio.Models.AboutMe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PortAdmin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AboutMe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeProfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeProfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeAbout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeAbout)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
