@model MyPortfolio.Models.ServicesCounter

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PortAdmin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServicesCounter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Counterİcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Counterİcon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounterNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounterNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounterText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounterText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
